<!DOCTYPE html>
<html>
    <head>
        <title>Postfix Parameters</title>
        <script src="vue.js"></script>
        <script src="axios.min.js"></script>
        <style>
         table {
             border-collapse: collapse;
             border: solid 1px #808080;
         }
         tr.undisplay {
             display: none;
         }
         tr.display {
             display: table-row;
         }
         th {
             border: solid 1px #808080;
         }
         td {
             border: solid 1px #808080;
         }
         .difference {
             background-color: #ffff00;
         }
         .unexist {
             background-color: #a0a0a0;
         }
         .parameter-name {
             word-break: keep-all;
         }
         .parameter-value {
             word-break: break-all;
         }
         .multi-value {
             border: 1px solid;
         }
         .multi-value br {
             margin: 2px;
         }
        </style>
    </head>
    <body>
        <div id="app">
            <select size="5" multiple="true" v-model="selected_vers" v-on:change="version_selected">
                <option v-for="ver in all_vers">
                    {{ ver }}
                </option>
            </select>
            <label>
                <input type="checkbox" v-model="only_difference" v-on:change="change_diff">
                Only difference
            </label>
            <table>
                <thead>
                    <tr>
                        <th>
                            Parameter
                        </th>
                        <th v-for="ver in selected_vers2">
                            {{ ver }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="name in all_parameters" v-bind:class="row_class(name)">
                        <td class="parameter-name">
                            {{ name }}
                        </td>
                        <td v-for="ver in selected_vers2" v-bind:class="col_class(name, ver)">
                            <span v-for="val in value(ver, name)" v-bind:class="val_class(name, ver)">
                                {{ val }}
                                <br>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
         var app = new Vue({
             el: '#app',
             data: {
                 all_vers: [],            // all available version
                 selected_vers: [],       // selected version
                 selected_vers2: [],
                 all_parameters: [],      // all parameter name for selected version
                 parameters: {},          // parameters[version][name] = value
                 difference: {},          // difference[name][version] = true if the parameter value is different from the previous version
                 only_difference: false,  // show only difference parameters
             },
             methods: {
                 version_selected: function(event) {
                     get_version_params(app.selected_vers).then(function(){
                         app.selected_vers2 = app.selected_vers
                     })
                     set_url()
                 },
                 change_diff: function(event) {
                     set_url()
                 },
                 value: function(ver, name) {
                     if (app.parameters[ver][name]) {
                         var val = app.parameters[ver][name].default
                         if (Array.isArray(val)) {
                             return val
                         }
                         return [val]
                     }
                     return null
                 },
                 row_class: function(name) {
                     var klass = {}
                     if (app.only_difference) {
                         var f = !!app.difference[name]
                         klass.display = f
                         klass.undisplay = !f
                     } else {
                         klass.display = true
                         klass.undisplay = false
                     }
                     return klass
                 },
                 col_class: function(name, ver) {
                     return {
                         "parameter-value": true,
                         difference: app.difference[name] && app.difference[name][ver],
                         unexist: app.parameters[ver][name] ? false : true,
                     }
                 },
                 val_class: function(name, ver) {
                     return {
                         "multi-value": Array.isArray(app.parameters[ver][name] && app.parameters[ver][name].default)
                     }
                 }
             }
         })

         axios.get('json/versions.json')
              .then(function(response){
                  app.all_vers =response.data.versions
              })

         function set_url() {
             var qs = []
             var vers = app.selected_vers.join(',')
             if (vers) {
                 qs.push('vers='+vers)
             }
             if (app.only_difference) {
                 qs.push('diff=true')
             }
             window.history.pushState('', '', '?'+qs.join('&'))
         }

         function get_params(ver) {
             return axios.get(`json/${ver}.json`)
                         .then(function(response) {
                             app.parameters[ver] = response.data
                         })
         }

         async function get_version_params(vers) {
             var all_params = []
             var difference = {}
             for (var i = 0; i < vers.length; i++) {
                 var ver = vers[i]
                 if (!app.parameters[ver]) {
                     await get_params(ver)
                 }
                 var params = Object.keys(app.parameters[ver])
                 Array.prototype.push.apply(all_params, params)
                 all_params = Array.from(new Set(all_params))
                 if (i > 0) {
                     all_params.forEach(function(name){
                         if ((JSON.stringify(app.parameters[vers[i-1]][name]) != JSON.stringify(app.parameters[ver][name]))) {
                             if (!difference[name]) {
                                 difference[name] = {}
                             }
                             difference[name][ver] = true
                         }
                     })
                 }
             }
             app.all_parameters = Array.from(new Set(all_params)).sort()
             app.difference = difference
         }

         window.onload = function() {
             var match = window.location.search.match(/[?&]vers=([^?&]+)/)
             if (match) {
                 var vers = match[1].split(',')
                 app.selected_vers = vers
                 get_version_params(vers).then(function(){app.selected_vers2 = vers})
             }
             if (window.location.search.match(/[?&]diff=true/)) {
                 app.only_difference = true
             }
         }
        </script>
    </body>
</html>
